

.azeret-mono-text {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style  */


/* nav style  */
header > nav {
    display: flex;
    justify-content: space-between;
    margin: 30px 150px 0px 150px;

}

.head{
    font-weight: 800;
    font-size: 32px;
}
.btn{
    background-color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 17px 20px;
    border-radius: 5px;

}
/* banner style  */
.bannerstart{
    margin-top: 0px;
    justify-items: center;
}
.banner{
    background-image: url("../assets/Hero-bg.png");
    background-size: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-content{
    max-width: 998px;
    margin: 156px 221px 0 221px;
}
.bannertitle{
    font-weight: bolder;
    font-size: 48px;
}
.bannerdes{
    font-weight: 400;
    font-size: 16px;
    color: rgba(13, 19, 33, 1);
}
.btn1{
    background-color: black;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 21px 24px;
    border-radius: 5px;
}
.img1{
    width: 240px;
}
 /* main style  */
 main{
    max-width: 1140px;
    margin: 0 auto;
 }

 /* about styles */
 .section-bg{
    background-color: rgba(13, 19, 33, 0.02);
 }
 .section-title{
    font-weight: bolder;
    font-size: 32px;
    color: #0D1321;
 }
 .aboutdes{
    font-weight: 400;
    font-size: 16px;
    color: rgba(13, 19, 33, 0.68);
 }
 .about{
    border-radius: 16px;
    padding: 80px 97px;
    text-align: center;
    margin-top: 62px;
 }

 .about-itmes{
    display: flex;
    justify-content: space-between;
    max-width: 946px;
    /* margin: 48px 47px;  */
    margin-top: 48px;
    margin-bottom: 32px; 

    padding: 48px 48px;
    color: #FFFFFF;

 }
.about-item1{
    text-align: left;
}
 .item1-title{
    font-weight: 700;
    font-size: 24px;
    color: rgba(13, 19, 33, 0.68);
    /* text-align: left;   */
    max-width: 477px;
 }
 .item1des{
    font-weight: 400;
    font-size: 16px;
    color: rgba(13, 19, 33, 0.68);
    text-align: left;
 }
.btn2{
    background-color: white;
    font-weight: 600;
    font-size: 20px;
    color: rgba(13, 19, 33, 0.68);
    padding: 10px 25px;
    border: 1px solid rgba(13, 19, 33, 0.68) ;
    border-radius: 0;
}
.about-itmes2{
    display: flex;
    justify-content: space-around;
    max-width: 946px;
    /* margin: 48px 47px;  */
    margin-top: 32px;
    color: #FFFFFF;
    padding: 48px 48px;
}
.about-item2{
    text-align: left;
}
.about-itmes3{
    display: flex;
    justify-content: space-between;
    max-width: 946px;
    /* margin: 48px 47px;  */
    margin-top: 32px;
    color: #FFFFFF;
    padding: 48px 48px;

}
.about-item3{
    text-align: left;
}
/* section  */
.inspiration{
    max-width: 1140px;
    margin-top: 100px;

    justify-content: center;
    align-items: center;
    text-align: center;
}
.section2{
    border-radius: 16px;
    padding: 80px 97px;
    text-align: center;
    margin-top: 62px;  
}
.youtube{
    justify-content: center;
    padding: 32px 32px;
    border-radius: 16px;
    border-style: groove;
    border-width: 1px;
}

.target{
    max-width: 1140px;
    margin-top: 150px;
}
.section3-text{
    text-align: center;
    padding: 0 97px;

}
.sub-target{
    display: flex;
    /* justify-content: space-around;  */
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 110px;
}
.sub-title{
    font-weight: 800;
    font-size: 24px;
    color: #0D1321;
}
.sub-para{
    font-weight: 400;
    font-size: 16px;
    color: rgba(13, 19, 33, 0.68);
}
.learn{
    font-weight: 700;
    font-size: 20px;
    color: rgba(13, 19, 33, 1);
    text-decoration: underline;
}
.ht{
    text-align: left;
    background-color: rgba(255, 76, 30, 0.05);
    /* max-width: 364px;  */
     padding: 40px; 
    /* margin: 48px 24px;  */
    border-radius: 16px;
}
.cs{
    text-align: left;
    background-color: rgba(0, 76, 232, 0.05);
    /* max-width: 364px;  */
    padding: 40px; 
    /* margin: 48px 24px;  */
    border-radius: 16px;
}
.javascript{
    text-align: left;
    background-color: rgba(255, 223, 0, 0.05);
    /* max-width: 364px;  */
    padding: 40px; 
    /* margin: 48px 24px;  */
    border-radius: 16px;
}


